<div class="error-page">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                <span class="glyphicon glyphicon-alert"></span>
                An error occurred processing your request. Please contact support for help. 
            </h1>
        </div>
    </div>
</div>
