<div>
    <div class="row page-header">
        <div class="col-sm-10">
            <h3>An email has been sent to you with instructions on how to reset your account</h3>
        </div>
    </div>
</div>