@model OAuth2Server.App.Authorization.UI.Account.ResetPasswordConfirmViewModel

<div>
    <div class="row page-header">
        <div class="col-sm-10">
            <h3>@Model.ConfirmMessage</h3>
        </div>
    </div>
</div>
