<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Authorization Platform</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/">
                    <span class="navbar-brand" style="padding: 11px 15px;">
                        <img src="~/yourlogo.img" style="margin-bottom: 5px;" class="icon-banner">
                    </span>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ui class="nav navbar-nav navbar-right">
                    <li>
                        <a href="https://examplesupportsite.com" target="_blank"class="nav-support">Support</a>
                    </li>
                </ui>
            </div>

            @*@await Html.PartialAsync("_LoginPartial")*@
        </div>
    </div>
    
    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
