@using System.Threading.Tasks
@using OAuth2Server.Data.Models.Entity

@inject SignInManager<AuthUser> SignInManager
@inject UserManager<AuthUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@UserManager.GetUserName(User) <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a asp-route="Logout">Logout</a></li>
                @*<li class="divider"></li>
                    <li><a asp-route="Login" asp-route-id="@ViewContext.HttpContext.Request.Query["id"]">Login With Different Account</a></li>*@
            </ul>
        </li>
    </ul>
}
